In [1]:
import pandas as pd
import numpy as np

In [10]:
myindex = ['USA','Canada','England','USA']
mydata = [1245,2567,3535,26762]

In [11]:
myser = pd.Series(data = mydata)

In [12]:
myser

0     1245
1     2567
2     3535
3    26762
dtype: int64

In [13]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA         1245
Canada      2567
England     3535
USA        26762
dtype: int64

In [14]:
ran_data = np.random.randint(0,100,4)
ran_data

array([13, 75, 28, 67])

In [15]:
names = ['A','B','C','D']
names

['A', 'B', 'C', 'D']

In [16]:
ages = pd.Series(ran_data,names)
ages

A    13
B    75
C    28
D    67
dtype: int32

In [18]:
q1 = {'a':1,'b':2,'c':3,'d':4}
sales_Q1 = pd.Series(q1)
sales_Q1

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
q2 = {'a':5,'b':6,'c':7,'d':8}
sales_Q2 = pd.Series(q1)
sales_Q2

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
sales_Q1['a']

1

In [23]:
sales_Q1[0]

C:\Users\dai.STUDENTSDC\AppData\Local\Temp\ipykernel_8004\832806364.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

1

In [24]:
sales_Q1.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
sales_Q1 * 2

a    2
b    4
c    6
d    8
dtype: int64

In [26]:
sales_Q2 / 100

a    0.01
b    0.02
c    0.03
d    0.04
dtype: float64

In [28]:
sales_Q1 + sales_Q2

a    2
b    4
c    6
d    8
dtype: int64

In [29]:
sales_Q1.add(sales_Q2, fill_value=0)

a    2
b    4
c    6
d    8
dtype: int64